<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "raton.png", width: 160 %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <% mysup = Supplier.find_by(user_id: current_user.id) %>
          <% mymaq = Maquila.find_by(user_id: current_user.id) %>
            <% if mymaq != nil %>
              <%= link_to "Maquila Dashboard", maquiladashboard_path, class: "nav-link" %>
            <% elsif mysup != nil %>
              <%= link_to "Proveedor Dashboard", supplierdashboard_path, class: "nav-link" %>
            <% end %>
          </li>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Mi empresa", supplier_path(mysup[:id]), class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="topnav" id='myTopnav' data-controller="my-navbar">
  <a href="#home" class="active">Inicio</a>
  <a href="#about">Mi Dashboard</a>
  <a href="#news">Proveedores</a>
  <a href="#contact">Maquilas</a>
  <a href="#about">Posts</a>
  <a href="javascript:void(0);" class="icon" data-action="click->my-navbar#myFunction">
    <i class="fa fa-bars"></i>
  </a>
</div>
