<h1>Dashboard para <%= @mymaq.name %></h1>
<%= link_to 'Agregar anuncio', new_post_path, class: 'btn register-btn' %>

<p>Clientes potenciales: </p>

<p>Mis anuncios:</p>
<div class='row'>
  <p class='col-sm'>Nombre</p>
  <p class='col-sm'>Likes</p>
</div>
<% @anuncios.each do |a| %>
  <%= link_to post_path(a) do %>
    <div class='row'>
      <p class='col-sm'><%= a.name %></p>
      <p class='col-sm'><%= a.likes.count %></p>
    </div>
  <% end %>
<% end %>
