<h1>Dashboard para <%= @mysup.company %></h1>

<%= link_to 'Agregar producto', new_post_path, class: 'btn register-btn' %>

<p class='m-0 pt-3'><strong>Clientes Potenciales:</strong></p>
<div class='row'>
  <p class='col-sm m-0 p-3'>Empresa</p>
  <p class='col-sm m-0 p-3'>Contacto</p>
  <p class='col-sm m-0 p-3'>Correo</p>
  <p class='col-sm m-0 p-3'>Producto</p>
</div>

<p class='m-0 pt-3'><strong>Mis Productos:</strong></p>
<div class='row'>
  <p class='col-sm m-0 p-3'>Producto</p>
  <p class='col-sm m-0 p-3'>Likes</p>
  <p class='col-sm m-0 p-3'>Views</p>
  <p class='col-sm m-0 p-3'>Interesados</p>
</div>
<% @productos.each do |a| %>
  <%= link_to post_path(a) do %>
    <div class='row dash-card'>
      <p class='col-sm m-0 p-3'><%= a.name %></p>
      <p class='col-sm m-0 p-3'><%= a.likes.count %></p>
      <p class='col-sm m-0 p-3'><%= '0' %></p>
      <p class='col-sm m-0 p-3'><%= '0' %></p>
    </div>
  <% end %>
<% end %>
