<div class='d-flex justify-content-center'>
  <div class='my-forms shadow p-3 mb-5 bg-white margin-right'>
  <h4>¿Ya estas registrado?</h4>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions btn form-btn">
        <%= f.button :submit, "Log in", style: 'color: white' %>
      </div>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <% end %>
  </div>
  <div class='my-forms shadow p-3 mb-5 bg-white d-flex flex-column justify-content-around'>
    <h4>¿Aun no tienes cuenta?</h4>
    <p>La mejor forma de ponerte en contacto con los mejores proveedores!</p>
      <ol class='self-align'>
        <li>Incluye tu empresa totalmente gratis en el buscador líder de proveedores de Mexico.</li>
        <li>Conviertete en proveedor y define el tipo de cliente que necesitas y dónde.</li>
        <li>Transforma tu negocio y recibe solicitudes de empresas y profesionales revisadas gratis y verificadas.</li>
      </ol>
    <%= link_to "Registrate", new_registration_path(resource_name), class: 'btn register-btn' %>
  </div>
</div>
