<div class='register-form'>
  <div class='my-forms shadow bg-white'>
  <h1>Crea un nuevo <%= @word %></h1>
  <%= simple_form_for [@newpost] do |f| %>
    <%= f.input :name, label: 'Titulo' %>
    <%= f.input :description, as: :text, label: 'Descripcion' %>
    <div class='mb-3'>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <div><%= f.button :submit, 'Agregar', class: 'btn register-btn' %></div>
  <% end %>
  </div>
</div>
