<%= simple_form_for [@newpost] do |f| %>
  <%= f.input :name %>
  <%= f.fields_for :photo do |t| %>
  <div>
    <%= t.label :image %>
    <%= t.file_field :image, :multiple => true %>
  </div>
  <% end %>
  <div><%= f.button :submit, 'Agregar', class: 'btn register-btn' %></div>
<% end %>
