  <div class='mb-4 sup-header'>
    <h1><%= @post.name %></h1>
    <%= link_to 'Contactar', '#form', class: 'btn green-btn' %>
  </div>
  <div class='row'>
    <div class='col-9'>
      <% if @post.photos.attached? %>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @post.photos.first.key, class: 'd-block w-100', style: "height: 500px !important;" %>
          </div>
          <% @post.photos.drop(1).each do |photo| %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, class: 'd-block w-100', style: "height: 500px !important;" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% else %>
        <p>*Este producto no contiene fotos*</p>
      <% end %>
      <h5>Descripción:</h5>
      <p><%= @post.description %></p>
      <div id='form' class='register-form'>
        <div class='my-forms-contact shadow bg-white'>
        <h1>Contactar</h1>
        </div>
      </div>
    </div>
    <div class='col-3 company-card'>
      <h5>Ofrecido por <%= @company.company %></h5>
      <div class='d-flex'>
        <i class="fa fa-phone mr-1"></i>
        <p><%= @company.phone_num %></p>
      </div>
      <div class='d-flex'>
        <i class="fa fa-map-marker-alt mr-1"></i>
        <p><%= @company.address %></p>
      </div>
      <p>Mas de <%= @company.company %></p>
      <ul>
      <% @company.posts.each do |p| %>
        <li>
          <%= link_to p.name, post_path(p) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
