<h1>Directorio de empresas</h1>
<%= form_with url: suppliers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Encuentra proveedor"
  %>
  <%= submit_tag "Search", class: "btn search-btn" %>
<% end %>
  <div class="row pt-4">
    <div class='col-3'>
      <strong><p>Categories</p></strong>
      <p>Proveedores</p>
      <ul class='category-scroll'>
        <% @categories.each do |c| %>
          <li class='border p-1 d-flex justify-content-between'><%= link_to c.name, '#' %><span style='color: grey;'><%= c.suppliers.count %></span></li>
        <% end %>
      </ul>
      <p>Maquilas</p>
      <ul class='category-scroll'>
        <% @categories.each do |c| %>
          <li class='border p-1 d-flex justify-content-between'><%= link_to c.name, '#' %><span style='color: grey;'><%= c.suppliers.count %></span></li>
        <% end %>
      </ul>
    </div>
    <div class='col-9'>
      <% @suppliers.each do |s| %>
          <div class="search-card">
          <% if s.photo.attached? %>
            <%= cl_image_tag s.photo.key, class: 'search-card-img' %>
            <% else %>
            <img class="search-card-img" src="https://acsaportones.com/wp-content/uploads/2015/11/default-placeholder-300x300.png" alt="Card image cap">
          <% end %>
            <div class="search-card-body">
              <div>
                <h5 class="card-title"><%= s.company %></h5>
                <p><% link_to 'favorite', favorite_companies_path(s), method: :post %></p>
              </div>
              <p class="card-text">Aqui va la descripcion de cada empresa.</p>
              <%= link_to 'mas informacion', supplier_path(s), class:'btn register-btn w-100' %>
            </div>
          </div>
      <% end %>
      <div class="pagination-filter">
        <%= paginate @suppliers %>
      </div>
    </div>
  </div>
