  <div class='mb-4 sup-header'>
    <h1><%= @supplier.company %></h1>
    <div class='d-flex'>
      <i class="fa fa-phone mr-1"></i>
      <p><%= @supplier.phone_num %></p>
    </div>
    <div class='d-flex'>
      <i class="fa fa-map-marker-alt mr-1"></i>
      <p><%= @supplier.address %></p>
    </div>
    <%= link_to 'Contactar', '#form', class: 'btn green-btn' %>
  </div>
  <div class='row'>
    <div class='col-9'>
      <h5>Descripción de la empresa: </h5>
      <p><%= @supplier.description %></p>
      <h5>Productos de esta empresa: </h5>
      <div class="row">
        <% @sup_products.each do |s| %>
          <div class="col-4 mb-3">
            <div class="card h-100" style="width: 18rem;">
            <% if s.photos.attached? %>
              <%= cl_image_tag s.photos.first.key, class: 'card-img-top' %>
            <% else %>
              <img class="card-img-top" src="https://acsaportones.com/wp-content/uploads/2015/11/default-placeholder-300x300.png" alt="Card image cap">
            <% end %>
              <div class="card-body">
                <div>
                  <h5 class="card-title"><%= s.name %></h5>
                  <p><%= s.likes.count %> <%= link_to 'like', post_likes_path(s), method: :post %></p>
                </div>
                <p class="card-text">Aqui va la descripcion de cada empresa.</p>
                <%= link_to 'Mas informacion', post_path(s), class:'btn register-btn w-100' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id='form' class='register-form'>
        <div class='my-forms-contact shadow bg-white'>
        <h1>Contactar con <%= @supplier.company %> </h1>
        </div>
      </div>
    </div>
    <div class='col-3 d-flex flex-column justify-content-center align-items-center border'>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
    </div>
  </div>
