  <div class='mb-4 sup-header'>
    <h1><%= @supplier.company %></h1>
    <%= link_to 'Contactar', '#', class: 'btn green-btn' %>
  </div>
  <div class='row'>
    <div class='col-9'>
      <h5>Descripción de la empresa: </h5>
      <p>
      Juguetesalpormayor.com es una importante empresa juguetera que se dedica a la distribución al por mayor y al por menor de juguetes. Somos proveedores de juegos educativos, juegos de construcción, puzzles, robot, peluches, juguetes para bebés, figuras de acción, etc.

    Contamos con más de 10 mil referencias de productos de las mejores marcas: Hasbro, Imc Toys, Lego, Mattel, Clementoni, Famosa, Muñecas Arias, Clementoni, Molto, Playmobil, etc. Nuestros clientes disfrutarán de precios imbatibles.

    Podemos decir con orgullo que asesoramos de primera mano a todos nuestros potenciales clientes cuando vayan a montar una tienda física. Y disponemos de un método muy cómodo de asociación con nosotros en el cual se podrá disfrutar de súper descuentos.

    Si lo que quieres es iniciar un proyecto online mediante dropshipping con un stock sincronizado con nosotros. También podemos ofrecerte el servicio de creación de tu tienda online llave en mano o incluso servicio de marketing como creación de banners para tu web actual.
      </p>
      <h5>Productos de esta empresa: </h5>
      <div class="row">
        <% @sup_products.each do |s| %>
          <div class="col-4 mb-3">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="https://acsaportones.com/wp-content/uploads/2015/11/default-placeholder-300x300.png" alt="Card image cap">
              <div class="card-body">
                <div>
                  <h5 class="card-title"><%= s.name %></h5>
                  <p><%= s.likes.count %> <%= link_to 'like', post_likes_path(s), method: :post %></p>
                </div>
                <p class="card-text">Aqui va la descripcion de cada empresa.</p>
                <%= link_to 'Mas informacion', post_path(s), class:'btn register-btn w-100' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col-3 d-flex flex-column justify-content-center align-items-center border'>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
      <br><br><br><br><br>
      <p>ESPACIO PARA ANUNCIO</p>
    </div>
  </div>
