<h1>Tus proveedores favoritos</h1>
<%= form_with url: suppliers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Encuentra proveedor"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  <div class="row">
    <% @sup_combo.each do |s| %>
      <div class="col-lg-3 col-sm-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://acsaportones.com/wp-content/uploads/2015/11/default-placeholder-300x300.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= s.supplier.company %></h5>
            <p class="card-text">Aqui va la descripcion de cada empresa.</p>
             <%= link_to 'Mas informacion', supplier_path(s.supplier), class:'btn btn-primary w-100' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
